In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("HepatitisCdata.csv")
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [4]:
df['Category'].value_counts()

Category
0=Blood Donor             533
3=Cirrhosis                30
1=Hepatitis                24
2=Fibrosis                 21
0s=suspect Blood Donor      7
Name: count, dtype: int64

In [5]:
df['ALB'].fillna(df['ALB'].mean(), inplace=True)
df['ALP'].fillna(df['ALP'].mean(), inplace=True)
df['CHOL'].fillna(df['CHOL'].mean(), inplace=True)
df['PROT'].fillna(df['PROT'].mean(), inplace=True)
df['ALT'].fillna(df['ALT'].mean(), inplace=True)
df = df.drop('Unnamed: 0', axis=1)

print(df.isnull().sum())

Category    0
Age         0
Sex         0
ALB         0
ALP         0
ALT         0
AST         0
BIL         0
CHE         0
CHOL        0
CREA        0
GGT         0
PROT        0
dtype: int64

C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\601573477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ALB'].fillna(df['ALB'].mean(), inplace=True)
C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\601573477.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ALP'].fillna(df['ALP'].mean(), inplace=True)
C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\601573477.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CHOL'].fillna(df['CHOL'].mean(), inplace=True)
C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\601573477.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PROT'].fillna(df['PROT'].mean(), inplace=True)
C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\601573477.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ALT'].fillna(df['ALT'].mean(), inplace=True)

In [6]:
df['Category'] = df['Category'].replace({'0=Blood Donor': 0, '0s=suspect Blood Donor': 0, '1=Hepatitis': 1, '2=Fibrosis': 1, '3=Cirrhosis': 1})

C:\Users\DCL\AppData\Local\Temp\ipykernel_14512\3193369793.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Category'] = df['Category'].replace({'0=Blood Donor': 0, '0s=suspect Blood Donor': 0, '1=Hepatitis': 1, '2=Fibrosis': 1, '3=Cirrhosis': 1})

In [7]:
df.head()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,0,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,0,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [8]:
df['Category'].value_counts()

Category
0    540
1     75
Name: count, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

label_encoder = LabelEncoder()
for column in df.columns:
    df[column] = label_encoder.fit_transform(df[column])
df.sample(5)

     Category  Age  Sex  ALB  ALP  ALT  AST  BIL  CHE  CHOL  CREA  GGT  PROT
408         0   20    0   41   96  105  101   19  222   198    13   21    94
447         0   24    0  152  283  152   29   29  272   242    60  111   115
252         0   30    1   73  372  184   96   40  339   251    71   85   121
323         0    7    0   50  102   94   70   64  124   129    11   94    99
369         0   14    0  112   49   80   85   78  161   259    78   32   112

In [10]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.sample(10)

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
583,2.683282,0.870541,-1.258584,-0.661143,0.102516,1.311868,0.759751,0.314507,-0.328041,-0.331159,0.240366,1.599979,1.293248
258,-0.372678,0.870541,0.794544,0.879727,-1.241397,-0.467436,-0.065511,0.158898,1.345035,0.760390,1.043544,-0.697443,0.519054
176,-0.372678,0.060735,0.794544,-0.847915,1.464349,0.687956,0.259183,1.870597,-0.207207,0.036922,1.244339,1.105466,-0.118517
565,2.683282,-0.749071,0.794544,-0.661143,-1.348911,-0.028387,2.099110,0.514576,0.861702,-1.219629,-0.522654,1.878142,1.862508
272,-0.372678,1.174219,0.794544,1.556775,-0.990534,-0.039941,0.083307,1.292621,0.462023,-1.067320,-0.201382,-0.573815,1.224936
351,-0.372678,-1.255199,-1.258584,0.669608,1.016377,0.121814,-0.633724,-1.041514,-0.151438,0.443079,-0.723448,-1.253770,0.951692
517,-0.372678,1.275444,-1.258584,-0.404331,0.873027,0.849711,0.475645,0.714645,0.666510,1.496551,-0.723448,0.137046,0.997232
210,-0.372678,0.364413,0.794544,0.062599,1.088053,-0.964254,-1.080177,-1.197123,-0.049195,-0.686547,0.320684,-0.419280,1.111084
539,-0.372678,1.174219,-1.258584,-2.248705,1.876482,2.166857,2.180284,-0.374618,-1.471309,-0.635777,-2.249487,2.084189,-2.236164
491,-0.372678,0.870541,-1.258584,-0.497717,-0.058753,-1.022024,-0.863715,-1.130433,-0.467464,0.582696,-0.924243,-1.480421,-1.120415

In [11]:
np.abs(df.iloc[:,:-1].corrwith(df['Category'])).sort_values(ascending = False)

Category    1.000000
AST         0.597019
GGT         0.447204
BIL         0.433570
CHOL        0.274088
ALP         0.167298
CHE         0.166639
ALB         0.163214
CREA        0.104584
ALT         0.083090
Sex         0.071663
Age         0.044767
dtype: float64

In [12]:
# Split into features and target
X = df.drop('Category', axis=1)
y = df['Category']

In [13]:
# Debugging information
print(f"Shape of X: {X.shape}")
print(f"Shape of y: {y.shape}")

Shape of X: (615, 12)
Shape of y: (615,)

In [14]:
# Define the number of features to select
N = 10

In [15]:
# Feature selection methods
def pca_selection(X, n_features):
    pca = PCA(n_components=n_features)
    pca.fit(X)
    return np.argsort(pca.explained_variance_ratio_)[-n_features:]

def rfe_selection(X, y, n_features):
    rfe = RFE(estimator=LinearRegression(), n_features_to_select=n_features)
    rfe.fit(X, y)
    return np.where(rfe.support_)[0]
def pearson_correlation(X, y, n_features):
    corrs = [pearsonr(X.iloc[:, i], y)[0] for i in range(X.shape[1])]
    return np.argsort(np.abs(corrs))[-n_features:]


def ridge_selection(X, y, n_features):
    ridge = Ridge(alpha=1.0)
    ridge.fit(X, y)
    importances = np.abs(ridge.coef_)
    return np.argsort(importances)[-n_features:]

def variance_threshold_selection(X, threshold):
    selector = VarianceThreshold(threshold)
    selector.fit(X)
    return np.where(selector.variances_ > threshold)[0]

In [16]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.feature_selection import RFE, VarianceThreshold
from sklearn.linear_model import Ridge, LinearRegression
from scipy.stats import pearsonr

In [17]:


# Apply feature selection methods
selected_features = {
    'PCA': pca_selection(X, N),
    'RFE': rfe_selection(X, y, N),
    'Pearson': pearson_correlation(X, y, N),
    'Ridge': ridge_selection(X, y, N),
    'VarianceThreshold': variance_threshold_selection(X, 0.1)
}

In [18]:
# Aggregate and count feature selections
feature_counts = np.zeros(X.shape[1])
for method, features in selected_features.items():
    print(f"Selected features by {method}: {features}")
    feature_counts[features] += 1

# Define ensemble methods
def ensemble_selection(counts, threshold):
    return np.where(counts > threshold)[0]

Selected features by PCA: [9 8 7 6 5 4 3 2 1 0]
Selected features by RFE: [ 1  2  3  4  5  6  8  9 10 11]
Selected features by Pearson: [ 4 11  9  2  7  3  8  6 10  5]
Selected features by Ridge: [ 1  9  2 11  8  3  6 10  4  5]
Selected features by VarianceThreshold: [ 0  1  2  3  4  5  6  7  8  9 10 11]

In [19]:
import numpy as np

# Example selected features by different methods (replace with your actual data)
selected_features = {
    'PCA': np.array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0]),
    'RFE': np.array([1, 2, 3, 4, 5, 6, 8, 9, 10, 11]),
    'Pearson': np.array([4, 11, 9, 2, 7, 3, 8, 6, 10, 5]),
    'Ridge': np.array([1, 9, 2, 11, 8, 3, 6, 10, 4, 5]),
    'VarianceThreshold': np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
}
# Example feature names (replace with your actual feature names)
feature_names = df.drop(columns=['Category']).columns
# Aggregate and count feature selections
feature_counts = np.zeros(len(feature_names))
for method, features in selected_features.items():
    print(f"Selected features by {method}: {[feature_names[i] for i in features]}")
    feature_counts[features] += 1

# Define ensemble selection function based on counts and threshold
def ensemble_selection(counts, threshold):
    return np.where(counts > threshold)[0]

Selected features by PCA: ['CREA', 'CHOL', 'CHE', 'BIL', 'AST', 'ALT', 'ALP', 'ALB', 'Sex', 'Age']
Selected features by RFE: ['Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHOL', 'CREA', 'GGT', 'PROT']
Selected features by Pearson: ['ALT', 'PROT', 'CREA', 'ALB', 'CHE', 'ALP', 'CHOL', 'BIL', 'GGT', 'AST']
Selected features by Ridge: ['Sex', 'CREA', 'ALB', 'PROT', 'CHOL', 'ALP', 'BIL', 'GGT', 'ALT', 'AST']
Selected features by VarianceThreshold: ['Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT']

In [20]:
# import numpy as np
# import matplotlib.pyplot as plt

# # Example feature names (replace with your actual feature names)
# feature_names = df.drop(columns=['Category']).columns

# # Aggregate and count feature selections correctly
# feature_counts = {method: np.zeros(len(feature_names)) for method in selected_features.keys()}
# for method, features in selected_features.items():
#     feature_counts[method][features] += 1

# # Unique colors for each method's bar chart
# colors = {
#     'PCA': '#1f77b4',  # Blue
#     'RFE': '#ff7f0e',  # Orange
#     'Pearson': '#2ca02c',  # Green
#     'Ridge': '#d62728',  # Red
#     'VarianceThreshold': '#9467bd'  # Purple
# }

# # Plotting bar charts for each method
# plt.figure(figsize=(18, 12))
# for i, (method, counts) in enumerate(feature_counts.items(), 1):
#     plt.subplot(3, 2, i)
#     plt.barh([feature_names[idx] for idx in np.where(counts > 0)[0]], counts[counts > 0], color=colors[method])
#     plt.xlabel('Count of Selection')
#     plt.ylabel('Features')
#     plt.title(f'Selected Features by {method}')
#     plt.tight_layout()

# plt.show()

In [21]:

# Apply ensemble methods
E1 = ensemble_selection(feature_counts, 1)  # Features selected by at least 2 methods
E2 = ensemble_selection(feature_counts, 2)  # Features selected by at least 3 methods
E3 = ensemble_selection(feature_counts, 3)  # Features selected by more than 3 methods

In [22]:
# Get feature names
feature_names = df.drop(columns=['Category']).columns

# Output the selected features for each ensemble
print("E1 Selected Features:", feature_names[E1])
print("E2 Selected Features:", feature_names[E2])
print("E3 Selected Features:", feature_names[E3])

E1 Selected Features: Index(['Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA',
       'GGT', 'PROT'],
      dtype='object')
E2 Selected Features: Index(['Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA', 'GGT',
       'PROT'],
      dtype='object')
E3 Selected Features: Index(['Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHOL', 'CREA', 'GGT',
       'PROT'],
      dtype='object')

In [23]:
# # Example selected features by different methods (replace with your actual data)
# selected_features = {
#     'PCA': np.array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0]),
#     'RFE': np.array([1, 2, 3, 4, 5, 6, 8, 9, 10, 11]),
#     'Pearson': np.array([4, 11, 9, 2, 7, 3, 8, 6, 10, 5]),
#     'Ridge': np.array([1, 9, 2, 11, 8, 3, 6, 10, 4, 5]),
#     'VarianceThreshold': np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
# }

# # Feature names (replace with your actual feature names)
# feature_names = df.drop(columns=['Category']).columns

# # Initialize feature counts
# feature_counts = np.zeros(len(feature_names))

# # Step 1: Count the number of times each feature is selected
# for method, features in selected_features.items():
#     for feature in features:
#         feature_counts[feature] += 1

# # Initialize sub-feature sets
# S1 = []
# S2 = []
# S3 = []

# # Step 2: Assign features to sub-feature sets based on their counts
# for i, count in enumerate(feature_counts):
#     if count >= 1:
#         S1.append(feature_names[i])
#     if count >= 2:
#         S2.append(feature_names[i])
#     if count >= 3:
#         S3.append(feature_names[i])

# # Print the selected features for each set
# print("S1 Selected Features:", S1)
# print("S2 Selected Features:", S2)
# print("S3 Selected Features:", S3)

# # Unique colors for each method's bar chart
# colors = {
#     'PCA': '#1f77b4',  # Blue
#     'RFE': '#ff7f0e',  # Orange
#     'Pearson': '#2ca02c',  # Green
#     'Ridge': '#d62728',  # Red
#     'VarianceThreshold': '#9467bd'  # Purple
# }

# # Plotting bar charts for each method
# plt.figure(figsize=(18, 12))
# for i, (method, features) in enumerate(selected_features.items(), 1):
#     counts = np.zeros(len(feature_names))
#     counts[features] += 1
#     plt.subplot(3, 2, i)
#     plt.barh([feature_names[idx] for idx in np.where(counts > 0)[0]], counts[counts > 0], color=colors[method])
#     plt.xlabel('Count of Selection')
#     plt.ylabel('Features')
#     plt.title(f'Selected Features by {method}')
#     plt.tight_layout()

# plt.show()

# # Plotting bar charts for ensemble feature sets
# plt.figure(figsize=(18, 8))

# # S1 bar chart
# plt.subplot(1, 3, 1)
# counts_S1 = np.zeros(len(feature_names))
# counts_S1[[feature_names.get_loc(f) for f in S1]] = 1
# plt.barh(S1, counts_S1[counts_S1 > 0], color='#1f77b4')
# plt.xlabel('Count of Selection')
# plt.ylabel('Features')
# plt.title('Selected Features by S1')

# # S2 bar chart
# plt.subplot(1, 3, 2)
# counts_S2 = np.zeros(len(feature_names))
# counts_S2[[feature_names.get_loc(f) for f in S2]] = 1
# plt.barh(S2, counts_S2[counts_S2 > 0], color='#ff7f0e')
# plt.xlabel('Count of Selection')
# plt.ylabel('Features')
# plt.title('Selected Features by S2')

# # S3 bar chart
# plt.subplot(1, 3, 3)
# counts_S3 = np.zeros(len(feature_names))
# counts_S3[[feature_names.get_loc(f) for f in S3]] = 1
# plt.barh(S3, counts_S3[counts_S3 > 0], color='#2ca02c')
# plt.xlabel('Count of Selection')
# plt.ylabel('Features')
# plt.title('Selected Features by S3')

# plt.tight_layout()
# plt.show()